<launch>
    <arg name="PROJECT_NAME" default="roboat_localization"/>

    <!-- Sensor Topics -->
    <arg name="IMU_TOPIC" default="/imu_correct"/>
    <arg name="GPS_TOPIC" default="/gps/fix"/>
    <arg name="GPS2_TOPIC" default="/gps2/fix"/>
    <arg name="DVL_TOPIC" default="/dvl"/>

    <!-- Parameters -->
    <rosparam file="$(find roboat_localization)/config/filter_params.yaml" command="load"/>

    <!-- Data Filter -->
    <node pkg="$(arg PROJECT_NAME)" type="$(arg PROJECT_NAME)_dataFilter" name="$(arg PROJECT_NAME)_dataFilter"
          output="screen" respawn="true">
        <!-- In -->
        <remap from="sensor/imu" to="$(arg IMU_TOPIC)"/>
        <remap from="sensor/gps" to="$(arg GPS_TOPIC)"/>
        <remap from="sensor/gps2" to="$(arg GPS2_TOPIC)"/>
        <remap from="sensor/dvl" to="$(arg DVL_TOPIC)"/>
        <remap from="sensor/heading_gps1" to="$(arg GPS_TOPIC)"/>
        <remap from="sensor/heading_gps2" to="$(arg GPS2_TOPIC)"/>
        <!-- Out -->
        <remap from="filtered/imu" to="roboat_filter/filtered/imu"/>
        <remap from="filtered/gps" to="roboat_filter/filtered/gps"/>
        <remap from="filtered/gps2" to="roboat_filter/filtered/gps2"/>
        <remap from="filtered/dvl" to="roboat_filter/filtered/dvl"/>
        <remap from="filtered/heading" to="roboat_filter/filtered/heading"/>
    </node>
</launch>
