<launch>
    <arg name="run_rviz" default="true" />
    <arg name="project" default="roboat_localization"/>

    <!--- Run Rviz-->
    <node if="$(arg run_rviz)" pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find roboat_localization)/rviz/roboat_localization.rviz" />

    <!-- Path and Model -->
    <node pkg="$(arg project)" type="$(arg project)_robotVisualization" name="$(arg project)_robotVisualization" output="screen" respawn="true"/>
</launch>
