<launch>
    <arg name="id"                  default="roboat"/>
    <arg name="run_ekf"             default="true"/>
    
    <!--- Robot State TF -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_map_odom" args="0 0 0 0 0 0 1 map odom 100" /> -->
    <include file="$(find roboat_localization)/launch/robot_state_publisher.launch">
        <arg name="id" value="$(arg id)" />
    </include>

    <!--  Data filter  & EKF -->
    <include if="$(arg run_ekf)" file="$(find roboat_localization)/launch/data_filter.launch">
        <arg name="id"      value="$(arg id)"/>
    </include>
    <include if="$(arg run_ekf)" file="$(find roboat_localization)/launch/ekf.launch">
        <arg name="id"      value="$(arg id)"/>
    </include>

    <!-- If not running EKF, executes directly the sensor node to determine miniboat position from beacons -->
    <node if="$(eval not arg('run_ekf'))"  name="sensor_node"  pkg="roboat_localization"  type="sensor_node"  output="screen"/>  

</launch>
