<launch>
    <!-- Node generating the markers properly formatted -->
    <node name="visualization_node"  pkg="roboat_visualization"  type="visualization_node" output="screen" respawn="true"/>

    <!--- Runs Rviz with the saved configuration -->
    <node name="visualization_rviz"  pkg="rviz" type="rviz" args="-d $(find roboat_visualization)/rviz/miniboats_visualization.rviz" />

</launch>
