<launch>

    <!-- boat id parameter -->
    <param name="/robot_id" value="$(env HOSTNAME)" />

    <!-- package namespace -->
    <group ns="$(env HOSTNAME)">

        <!-- the package to run -->
        <node pkg="miniboat_test" type="miniboat_test" name="miniboat_test"  output="screen" respawn="true"/>

    </group>
    
</launch>
