<launch>

    <node name="velocity_smc" pkg="roboat_core" type="velocity_smc" >
	<param name = "k1_u" value = "0.2" />
	<param name = "k2_u" value = "0.1" />
	<param name = "lambda_u" value = "0.001" />
	<param name = "k1_v" value = "0.2" />
	<param name = "k2_v" value = "0.1" />
	<param name = "lambda_v" value = "0.001" />
	<param name = "k1_psi" value = "1.0" />
	<param name = "k2_psi" value = "1.0" />
	<param name = "lambda_psi" value = "1.0" />
    </node>

</launch>