<?xml version="1.0"?>
<robot name="miniboat" xmlns:xacro="http://roboat.org">
    <!-- arguments -->
    <xacro:arg name="id" default="miniboat" />
    
    <!-- constants -->
    <xacro:property name="id" value="$(arg id)" />
    <xacro:property name="PI" value="3.1415926535897931"/>
    
    <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
    </material>
    <material name="light_grey">
        <color rgba="0.4 0.4 0.4 1.0"/>
    </material>
    <material name="yellow">
        <color rgba="0.8 0.8 0.0 1.0"/>
    </material>
    <material name="black">
        <color rgba="0.15 0.15 0.15 1.0"/>
    </material>

    <link name="base_link_${id}"/>
    <joint name="base_link_joint_${id}" type="fixed">
        <parent link="base_link_${id}"/>
        <child link="chassis_link_${id}"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </joint>

    <link name="chassis_link_${id}">
        <collision>
            <origin xyz="0 0 0.0"/>
            <geometry>
                <mesh filename="package://roboat_visualization/meshes/miniboat.dae" />
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0.0"/>
            <geometry>
                <mesh filename="package://roboat_visualization/meshes/miniboat.dae" />
            </geometry>
        </visual>
        <inertial>
            <!-- Center of mass -->
            <origin xyz="0 0 0.7" rpy="0 0 0"/>
            <mass value="1300.523"/>
            <!-- Moments of inertia: ( chassis without wheels ) -->
            <inertia
                    ixx="10.3136" ixy="-10.0008" ixz="10.0164"
                    iyy="10.3922" iyz="-10.0009"
                    izz="10.4485"/>
        </inertial>
    </link>

    <link name="imu_link_${id}"/>
    <joint name="imu_joint_${id}" type="fixed">
        <parent link="chassis_link_${id}"/>
        <child link="imu_link_${id}"/>
        <origin xyz="1.8 0 1.2" rpy="0 0 0"/>
    </joint>

    <link name="navsat_link_${id}"/>
    <joint name="navsat_joint_${id}" type="fixed">
        <parent link="chassis_link_${id}"/>
        <child link="navsat_link_${id}"/>
        <origin xyz="1.8 -0.45 1.2" rpy="0 0 0"/>
    </joint>

    <link name="navsat2_link_${id}"/>
    <joint name="navsat2_joint_${id}" type="fixed">
        <parent link="chassis_link_${id}"/>
        <child link="navsat2_link_${id}"/>
        <origin xyz="-1.8 0.45 1.2" rpy="0 0 0"/>
    </joint>

</robot>
