<launch>
    <arg name="id"      default="$(env HOSTNAME)"/>
    <!-- Launches the node within the namespace -->
    <group ns="$(arg id)">
        <node name="capacitive_node"  pkg="roboat_core"  type="capacitive_node" output="screen" />
      <!-- Run the serial node-->
        <node pkg="rosserial_python" type="serial_node.py" name="cap_serial_node"  respawn="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
        </node>
    </group>

</launch>
