<launch>

  <arg name="sim"                    default="false"/>
  <arg name="map"                    default="alumni_pool"/>

  <param name="use_sim_time"         value="$(arg sim)"/>

  <include file="$(find roboat_launch)/launch/master.launch">
      <arg name="map"                value="$(arg map)"/>
      <arg name="use_ekf"            value="true"/>
      <arg name="sensors"            value="false"/>
      <arg name="mpc_node"           value="false"/>
      <arg name="command_node"       value="$(eval not(arg('sim')))"/>
  </include>

</launch>
