<launch>
 
    <!-- Simplified version of the server.launch, since the client connects to the network and only visualizes in RVIZ -->
    <arg    name="id"                   default="$(env HOSTNAME)"/>
    <arg    name="use_multimaster"      default="true"/>

    <!-- Multimaster synchronization -->
    <node if="$(arg use_multimaster)" name="master_discovery"  pkg="master_discovery_fkie"   type="master_discovery"    output="screen">
        <param name="mcast_group" type="str" value="224.0.0.1" />
    </node>
    
    <!-- RVIZ (since each RVIZ node should have a unique name, it is loaded within the namespace -->
    <group ns="$(arg id)">
        <include file="$(find roboat_visualization)/launch/rviz.launch"/>
    </group>

</launch>
