<launch>
 
    <!-- boat id
         - remember to add 'export HOSTNAME' to the .bashrc file or script launching the program 
         - namespaces with '-' character are not valid, need to be changed
    -->
    <arg    name="id"                   default="$(env HOSTNAME)"/>
    <arg    name="use_multimaster"      default="true"/>
    <arg    name="use_ekf"              default="true"/>

    <!-- Multimaster synchronization -->
    <node if="$(arg use_multimaster)" name="master_discovery"  pkg="fkie_master_discovery"   type="master_discovery"    output="screen">
        <param name="mcast_group" type="str" value="224.0.0.1" />
    </node>
    <node if="$(arg use_multimaster)" name="master_sync"  pkg="fkie_master_sync"   type="master_sync"    output="screen"/>
    
    <!-- package namespace -->
    <group ns="$(arg id)">

        <param  name="roboat_id"    type="string"   value="$(arg id)" />

        <include file="$(find roboat_core)/launch/master.launch">
            <arg name="sim_node"            value="false"/>
            <arg name="serial_node"         value="true"/>
            <arg name="csv_path_node"       value="false"/>
            <arg name="mpc_node"            value="false"/>
            <arg name="pf_node"             value="false"/>
            <arg name="command_node"        value="true"/>
            <arg name="joy_node"            value="false"/>
            <arg name="pid_node"            value="false"/>
            <arg name="swarm_node"          value="true"/>
            <arg name="bag_node"            value="false"/>
            <arg name="capacitive_node"     value="false"/>
        </include>
        
        <include file="$(find ros_imu_bno055)/launch/imu.launch">
            <arg name = "serial_port" value="/dev/ttyUSB0" />
            <arg name = "frame_id" value="imu_link" />
            <arg name = "operation_mode" value="NDOF_FMC_OFF"/>
            <arg name = "oscillator" value="INTERNAL" />
            <arg name = "reset_orientation" value="true" />
            <arg name = "frequency" value="50" /> 
            <arg name = "use_magnetometer" value="true" />
            <arg name = "use_temperature" value="true" /> 
        </include>
        
        <!-- paired beacons; arguments are "serial port & baudrate" -->
        <node pkg="marvelmind_nav" type="hedge_rcv_bin" name="hedge_rcv_bin" args="/dev/ttyACM0 500000" output="screen"/>
        
        <!-- Run the serial node for the capacitive sensors-->
    <!--    <node pkg="rosserial_python" type="serial_node.py" name="cap_serial_node"  respawn="true">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="57600"/>
        </node>        
    -->    
        

        <!--include file="$(find pid)/launch/headingpid.launch">
        </include-->

        <include file="$(find roboat_localization)/launch/localization.launch" >
            <arg name="id"                  value="$(arg id)"/>
            <arg name="use_ekf"             value="$(arg use_ekf)"/>
        </include>

        <!--include file="$(find roboat_core)/launch/position_pid.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/velocity_pid.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/velocity_smc.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/velocity_st.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/velocity_asmc.launch">
        </include-->

        <include file="$(find roboat_core)/launch/velocity_cascade_pid.launch">
        </include>

        <!--include file="$(find roboat_core)/launch/velocity_cascade_smc.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/velocity_cascade_asmc.launch">
        </include-->

        <!--include file="$(find roboat_core)/launch/pf_vel.launch">
        </include-->
        
        <!--node name="zigzag_test_r" pkg="roboat_core" type="zigzag_test_r.py" >
        </node-->
        

    </group>
     
</launch>
