<launch>
 
    <!-- could also be run directly using, but less flexible
        `rosrun roboat_core csv_path_node __ns:=$HOSTNAME` 
    -->

    <!-- Make sure you provide the correct serial_port input -->
    <arg name="id"      default="$(env HOSTNAME)"/>
    <arg name="file"    default="/paths/miniboat_shapeshift_miniboat4.csv"/>

    <!-- Launches the node within the namespace -->
    <group ns="$(arg id)">
        <node name="csv_path_node"  pkg="roboat_core"  type="csv_path_node">
            <param name="trajectory/file" type="string" value="$(arg file)" />
        </node>
    </group>

</launch>
