<launch>
 
    <!-- If we only want to run the roscore so all the miniboats detect the host master, 
    from the home catkin workspace folder:
        ..src/miniboat/scripts/run_server.sh
    -->

    <arg    name="use_multimaster"      default="true"/>

    <!-- Multimaster synchronization -->
    <node if="$(arg use_multimaster)" name="master_discovery"  pkg="fkie_master_discovery"   type="master_discovery"    output="screen">
        <param name="mcast_group" type="str" value="224.0.0.1" />
    </node>
    <node if="$(arg use_multimaster)" name="master_sync"  pkg="fkie_master_sync"   type="master_sync"    output="screen"/>

    <!-- loads swarm ids, to properly identify all -->
    <rosparam command="load" file="$(find roboat_core)/config/swarm.yaml" ns="swarm"/>

    <!-- RVIZ visualization -->
    <include file="$(find roboat_visualization)/launch/rviz.launch"/>
    
</launch>
