<launch>
 
    <!-- If we only want to run the roscore so all the miniboats detect the host master, 
    from the home catkin workspace folder:
        ..src/miniboat/scripts/run_server.sh
    -->
    <arg    name="id"                   default="$(env HOSTNAME)"/>
    <arg    name="use_multimaster"      default="true"/>

    <!-- Multimaster synchronization -->
    <node if="$(arg use_multimaster)" name="master_discovery"  pkg="fkie_master_discovery"   type="master_discovery"    output="screen">
        <param name="mcast_group" type="str" value="224.0.0.1" />
    </node>
    <node if="$(arg use_multimaster)" name="master_sync"  pkg="fkie_master_sync"   type="master_sync"    output="screen">
        <!--rosparam param="ignore_topics">['/tf']</rosparam-->
        <!--rosparam param="ignore_nodes">['/miniboat1/hedge_rcv_bin','/miniboat2/hedge_rcv_bin','/miniboat3/hedge_rcv_bin','/miniboat4/hedge_rcv_bin','/miniboat5/hedge_rcv_bin','/miniboat6/hedge_rcv_bin','/miniboat7/hedge_rcv_bin','/miniboat8/hedge_rcv_bin','/miniboat1/ros_imu_bno055_node','/miniboat2/ros_imu_bno055_node','/miniboat3/ros_imu_bno055_node','/miniboat4/ros_imu_bno055_node','/miniboat5/ros_imu_bno055_node','/miniboat6/ros_imu_bno055_node','/miniboat7/ros_imu_bno055_node','/miniboat8/ros_imu_bno055_node','/miniboat1/velocity_cascade_pid','/miniboat2/velocity_cascade_pid','/miniboat3/velocity_cascade_pid','/miniboat4/velocity_cascade_pid','/miniboat5/velocity_cascade_pid','/miniboat6/velocity_cascade_pid','/miniboat7/velocity_cascade_pid','/miniboat8/velocity_cascade_pid']</rosparam-->
        <rosparam param="sync_topics">['/tf','/tf_static','/shape','/miniboat1/shrink_flag','/miniboat1/odometry/filtered','/miniboat2/odometry/filtered','/miniboat3/odometry/filtered','/miniboat4/odometry/filtered','/miniboat5/odometry/filtered','/miniboat6/odometry/filtered','/miniboat7/odometry/filtered','/miniboat8/odometry/filtered','/miniboat1/assignment/reference_pose','/miniboat2/assignment/reference_pose','/miniboat3/assignment/reference_pose','/miniboat4/assignment/reference_pose','/miniboat5/assignment/reference_pose','/miniboat6/assignment/reference_pose','/miniboat7/assignment/reference_pose','/miniboat8/assignment/reference_pose','/miniboat1/joy','/miniboat2/joy','/miniboat3/joy','/miniboat4/joy','/miniboat5/joy','/miniboat6/joy','/miniboat7/joy','/miniboat8/joy']</rosparam>
    </node>

    <!-- visualization node -->
    <!-- only one node instance in the whole network should run for all RVIZ windows, reason why it is loaded by the server -->
    <!--include file="$(find roboat_visualization)/launch/visualization_node.launch"/-->

    <!-- RVIZ (since each RVIZ node should have a unique name, it is loaded within the namespace -->
    <!--group ns="$(arg id)">
        <include file="$(find roboat_visualization)/launch/rviz.launch"/>
    </group-->
    <!-- I commented this only to test if the 8 boats are still struggling without rviz -->

    
</launch>
