<launch>
 
    <!-- If we only want to run the roscore so all the miniboats detect the host master, 
    from the home catkin workspace folder:
        ..src/miniboat/scripts/run_server.sh
    -->
    <arg    name="id"                   default="$(env HOSTNAME)"/>
    <arg    name="use_multimaster"      default="true"/>

    <!-- Multimaster synchronization -->
    <node if="$(arg use_multimaster)" name="master_discovery"  pkg="fkie_master_discovery"   type="master_discovery"    output="screen">
        <param name="mcast_group" type="str" value="224.0.0.1" />
    </node>
    <node if="$(arg use_multimaster)" name="master_sync"  pkg="fkie_master_sync"   type="master_sync"    output="screen">
        <param name="ignore_topics" type="array" value="['/tf']" />
    </node>

    <!-- visualization node -->
    <!-- only one node instance in the whole network should run for all RVIZ windows, reason why it is loaded by the server -->
    <!--include file="$(find roboat_visualization)/launch/visualization_node.launch"/-->

    <!-- RVIZ (since each RVIZ node should have a unique name, it is loaded within the namespace -->
    <!--group ns="$(arg id)">
        <include file="$(find roboat_visualization)/launch/rviz.launch"/>
    </group-->
    <!-- I commented this only to test if the 8 boats are still struggling without rviz -->

    
</launch>
